# Byte-compiled / optimized / DLL support
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
env/
venv/
ENV/

# Environment configurations
.env

# Pytest caches
.pytest_cache/

# LangGraph API local checkpoints
.langgraph_api/
